// colors
$color-dark: #403F3D;
$color-light: #E1D4C9;
$color-accent: #B0907A;
$color-khaki: #665F55;

// breakpoints
$width-mobile: 380px;
$width-tablet: 768px;
$width-under-tablet: 767px;

@mixin mobile {
  @media (max-width: $width-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $width-tablet) {
    @content;
  }
}

@mixin under-tablet {
  @media (max-width: $width-under-tablet) {
    @content;
  }
}


// fonts
$font-family-inter: 'Inter', sans-serif;

$font-title: 600 72px/1.05 $font-family-inter;
$font-main: 400 16px/1.5 $font-family-inter;
$font-main-bold: 600 16px/1.5 $font-family-inter;
$font-description-small: 600 10px/1.4 $font-family-inter;

@mixin font-h1 {
  font: 600 72px/1.05 $font-family-inter;

  @include under-tablet {
    font: 600 42px/1.15 $font-family-inter;
  }
}

@mixin font-h2 {
  font: 600 60px/1.25 $font-family-inter;

  @include under-tablet {
    font: 600 32px/1.25 $font-family-inter;
  }
}

@mixin font-h3 {
  font: 600 24px/1.25 $font-family-inter;

  @include tablet {
    // font-size: ;
  }

  @include mobile {
    // font-size: ;
  }
}

