@import '../../../styles/base/variables';

.section {
  &_hero {
    padding: 100px;
    width: 100%;
    background: url('../../../assets/images/section-hero.svg') center/cover no-repeat;
    border-radius: 40px;

    &__wrapper {
      width: 530px;
    }

    &__button {
      position: relative;
      width: 200px;
      font: $font-main-bold;
      color: $color-dark;
      overflow-x: hidden;
      transition: all 0.3s linear;

      .menu-logo {
        transform: scale(0);
        transition: all 0.3s linear;
      }

      .button__title {
        transform: translateX(8px);
        transition: all 0.3s linear;
      }

      &:hover {
        .button__title {
          transform: translateX(-8px);
          
        }

        .menu-logo {
          transform: scale(1);
        }
      }
    }
  }
}
