@import '../../../styles/base/variables';

.section_hero {
    padding: 100px;
    width: 100%;
    background: url('../../../assets/images/section-hero.svg') center/cover no-repeat;
    border-radius: 40px;

    @include tablet {
      padding: 100px 60px;
    }

    @include under-tablet {
      padding: 60px 16px; 
    }

    &__wrapper {
      max-width: 530px;
    }

    &__button {
      width: 200px;
      font: $font-main-bold;
      color: $color-dark;
      overflow-x: hidden;
      transition: all 0.3s linear;

      .menu-logo {
        transform: scale(0) translateX(4px);
        transition: all 0.3s linear;


        @include tablet {
          transform: scale(1) translateX(4px);
        }
      }

      .button__title {
        transform: translateX(10px);
        transition: all 0.3s linear;

        @include tablet {
          transform: translateX(-4px);
        }
      }

      @media (hover: hover) {
        &:hover {
          .button__title {
            transform: translateX(-4px);
          }
  
          .menu-logo {
            transform: scale(1) translateX(4px);
          }
        }
      }
    }
  }

