@import '../../../styles/base/variables';

.section_about {
  display: flex;
  align-items: center;
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    max-height: calc(590px + 40px + 430px);
    gap: 40px;

    @media (width < 1440px) {
      max-height: unset;
    }

    &-item {
      width: 660px;
      position: relative;
      border-radius: 20px;
      transition: background-size 0.3s linear;
      overflow: hidden;

      @media (width < 1440px) {
        width: 688px;
      }

      @media (width < 768px) {
        width: 100%;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;
        transform: scale(1.10);
        transition: transform 0.3s linear;

        @media (width < 1440px) {
          transform: scale(1.05);
        }

        @include mobile {
          transform: scale(1.25);
        }
      }

      @media (hover: hover) {
        &:hover {
          &:after {
            transform: scale(1);
          }
        }
      }

      &:nth-child(1), &:nth-child(4) {
        height: 590px;
      }

      &:nth-child(2), &:nth-child(3) {
        height: 430px;

        @media (width < 1440px) {
          display: none;
        }
      }

      &_1 {
        &:after {
          background-image: url('../../../assets/images/about/about-1.svg');
        }
      }

      &_2 {
        &:after {
          background-image: url('../../../assets/images/about/about-2.svg');
          
        }
      }

      &_3 {
        &:after {
          background-image: url('../../../assets/images/about/about-3.svg');
        }
      }

      &_4 {
        &:after {
          background-image: url('../../../assets/images/about/about-4.svg');
        }
      }
    }
  }
}