.section_about {
  display: flex;
  align-items: center;
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    flex-wrap: wrap;
    width: 100%;
    aspect-ratio: 1360/1130;
    gap: 3%;

    &-item {
      width: 48.5%;
      position: relative;
      border-radius: 20px;
      transition: background-size 0.3s linear;
      overflow: hidden;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;
        transform: scale(1.10);
        transition: transform 0.3s linear;
      }

      &:hover {
        &:after {
          transform: scale(1);
        }
      }

      &:nth-child(1), &:nth-child(4) {
        aspect-ratio: 1;
      }

      &:nth-child(2), &:nth-child(3) {
        aspect-ratio: 660/430;
      }

      &_1 {
        &:after {
          background-image: url('../../../assets/images/about/about-1.svg');
        }
      }

      &_2 {
        &:after {
          background-image: url('../../../assets/images/about/about-2.svg');
        }
      }

      &_3 {
        &:after {
          background-image: url('../../../assets/images/about/about-3.svg');
        }
      }

      &_4 {
        &:after {
          background-image: url('../../../assets/images/about/about-4.svg');
        }
      }
    }
  }
}