@import '../../../styles/base/variables';

.header__menu-link {
  @include tablet {
    display: none;
  }

  &_active {
    &:not(:hover) {
      &:after {
        width: 100%;
        left: 100%;
        transform: scaleX(-1);
        transform-origin: left;
      }
    }
  }
}