@import '../../../styles/base/variables';

.header__menu-link {
  justify-self: flex-end;

  @include tablet {
    text-align: center;
    margin: 0 auto;
    font: 600 32px/1.25 $font-family-inter !important;

    & .menu-logo {
      width: 40px;
      height: 40px;
    }
  }

  &_active {
    &:not(:hover) {
      &:after {
        width: 100%;
        left: 100%;
        transform: scaleX(-1);
        transform-origin: left;
      }
    }
  }
}