@import '../../styles/base/variables';

.burger-menu {
  align-self: center;
  justify-self: flex-end;
  display: none !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 44px !important;
  aspect-ratio: 1;
  border-color: $color-khaki;
  padding: 0 !important;
  transition: all 0.2s linear;

  span {
    display: block;
    width: 16px;
    height: 1.5px;
    background-color: $color-dark;
    border-radius: 2px;
    transition: all 0.2s linear;
  }

  &_open {
    
    span {
      &:first-child {
        transform: translateY(3.5px) rotate(45deg);
      }

      &:last-child {
        transform: translateY(-3.5px) rotate(-45deg);
      }
    }
  }

  @include tablet {
    display: flex !important;
  }
}