@import '../../../styles/base/variables';

.section_menu {
  &__title {
    text-align: center;
    width: 80%;
    
    @include tablet {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
  
  &__nav {
    display: flex;
    gap: 16px;
    justify-content: center;

    &-item {
      gap: 8px;
      padding: 8px 16px 8px 8px;
      border-color: #C1B6AD;
      transition: all 0.3s linear;
      cursor: pointer;

      &:hover, &_active {
        background-color: $color-khaki;
        border-color: $color-khaki;
        color: $color-light;

        .section_menu__nav-item__icon {
            background-color: $color-light;
        }
      }

      &__icon {
        width: 30px;
        aspect-ratio: 1;
        border-radius: 100%;
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #C1B6AD;
        transition: background-color 0.3s linear;

        &-Tea {
          background-image: url('../../../assets/icons/menu-tea-icon.svg');
        }

        &-Coffee {
          background-image: url('../../../assets/icons/menu-coffee-icon.svg');
        }

        &-Dessert {
          background-image: url('../../../assets/icons/menu-dessert-icon.svg');
        }
      }
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }

    &-item {
      min-width: 310px;
      max-width: 310px;
      height: 506px;
    }
  }

  &__load-more-btn {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-image: url('../../../assets/icons/refresh-icon.svg');
  }
}