@import './libs/_reset.scss';
@import './base/_fonts.scss';
@import './base//variables';

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  // margin: 20px 0 40px;
  overflow-x: hidden;
  font: $font-main;
  color: $color-dark;
  background-color: $color-light;

  &.hidden {
    overflow: hidden;
  }
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

header {
  margin-top: 20px;
}

footer {
  margin-bottom: 40px;
}

main {
  flex-grow: 1;
}

.container {
  padding: 0 40px;
  margin: 0 auto;
  overflow-x: hidden;

  @media (width >= 1440px) {
    max-width: 1360px;
    padding: 0;
  }

  @media (width < 1440px) {
    padding: 0 40px;
  }

  @media (width <= 380px) {
    padding: 0 16px;
  } 
}
