@import './libs/_reset.scss';
@import './base/_fonts.scss';
@import './base//variables';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font: $font-main;
  color: $color-dark;
  background-color: $color-light;

  &.hidden {
    overflow: hidden;
  }
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}
