@import '../styles/base/variables';

.main {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}

.section {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    &_h1 {
      @include font-h1;
    }
    
    &_h2 {
      @include font-h2;
    }

    i {
      color: $color-accent;
    }

    &_dark {
      color: $color-dark;
    }

    &_light {
      color: $color-light;
    }
  }

  &__subtitle {
    font: $font-main;

    &_dark {
      color: $color-dark;
    }

    &_light {
      color: $color-light;
    }
  }

  &__button {
    &_light {

    }

    &_dark {

    }
  }
}