@import '../../../styles/base/_variables.scss';

.header__nav {
  display: flex;
  align-items: center;

  @include tablet {
    display: none;
  }

  &-list {
    display: flex;
    gap: 40px;
  }
}
