@import '../../../styles/base/_variables.scss';

.header__nav {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
    gap: 40px;
  }

  &-item {
    a {
      font: $font-main-bold;
      color: $color-dark;
    }
  }
}
