@import '../../styles/base/variables';

.footer {
  * {
    color: $color-light;
  }
  &__wrapper {
    display: flex;
    padding: 100px;
    background-color: $color-khaki;
    gap: 100px 137px;
    border-radius: 40px;
    flex-wrap: wrap;

    @include tablet {
      padding: 100px 60px;
    }

    @include under-tablet {
      padding: 60px 16px;
      gap: 40px;
    }
  }

  &__title {
    @include font-h2;

    span {
      color: $color-accent;
    }

    @include mobile {
      br {
      display: none;
        }
    }
  }

  &__social {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-list {
      display: flex;
      gap: 12px;
    }

    &-link {
      width: 60px;
      height: 60px;
      background-size: 24px;
      background-position: center;
      background-repeat: no-repeat;
      transition: background-color 0.3s linear;


      @media (hover: hover) {
        &:hover {
          background-color: $color-light;
          animation: background-size-out 0.4s linear;
        }
      }

      &_instagram {
        background-image: url('../../assets/icons/instagram-icon_light.svg');

        @media (hover: hover) {
          &:hover {
            background-image: url('../../assets/icons/instagram-icon_dark.svg');
          }
        }
      }

      &_facebook {
        background-image: url('../../assets/icons/facebook-icon_light.svg');

        @media (hover: hover) {
          &:hover {
            background-image: url('../../assets/icons/facebook-icon_dark.svg');
          }
        }
      }

      &_twitter {
        background-image: url('../../assets/icons/twitter-icon_light.svg');

        @media (hover: hover) {
          &:hover {
            background-image: url('../../assets/icons/twitter-icon_dark.svg');
          }
        }
      }
    }
  }

  &__contacts {
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
    }

    &-title {
      @include font-h3;
    }

    &-subtitle {
      font: $font-main-bold;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-icon {
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: cover;

      &_location {
        background-image: url('../../assets/icons/location-icon.svg');
      }
    
      &_time {
        background-image: url('../../assets/icons/clock-icon.svg');
      }
    
      &_phone {
        background-image: url('../../assets/icons/phone-icon.svg');
      }
    }
  }

  &__link:not(a) {
      &:after {
        display: none;
      }
  }
}

@keyframes background-size-out {
  0% {
    background-size: 24px;
    
  }

  50% {
    background-size: 15px;
  }

  100% {
    background-size: 24px;
  }
}
