@import '../../styles/base/variables';

.header {
  position: relative;
  &__wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  &__link {
      font: $font-main-bold;
      color: $color-dark;
  }
}